*.~sql
*.~pks
*.~pkb
*.~lua
*.*~
*.swp

/pom.xml
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum

*.zip
*.tar
*.gz
*.tgz
*.jar
*.pyc
*.t7
*.log
*.net
*.eps
*.so
*.png
*.jpg

#cmake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

#Visual Studio files
*.[Oo]bj
*.dll
*.exe
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad


